# Ignore specific project directories
file/
vectorDB/

# Ignore specific files in the current directory
try.py
globalParameter/parameters.py

# Ignore PyCharm's project configuration folder
.idea/

# Ignore all compiled intermediate files and cache directories
__pycache__/
